body {
  width: 100%;
  height: auto;
}

#user-info {
  display: none;
  width: 200px;
  height: 150px;
  border: solid 2px black;
  padding: 30px;
  right: 0;
  position: absolute;
}

.hide {
  display: none;
}
