body {
  width: 100%;
  height: auto;
  background-image: url('../img/2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px;
}

h1 {
  padding-top: 40px;
  padding-bottom: 8px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  color: #f2f2f2;
  border-bottom: solid #f2f2f2 2px;
}

#begin {
  width: 50%;
  height: 400px;
  padding: 40px;
  margin-top: 10%;
  margin-left:auto;
  margin-right: auto;
  border: 4px solid white;
  background-color: #f2f2f2;
  opacity: 0.8;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.7em;
}

#begin h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 1em;
  text-align: center;
}

.form-group {
  padding: 10px;
  margin-top: 40px;
}

#user-name {
  width: 60%;
  margin-left: 20%;
  color: #410f70;
}

#user-char {
  width: 40%;
  margin-left: 30%;
}

#begin button {
  width: 80%;
  margin-left: 10%;
  margin-top: 45px;
  background-color: black;
  opacity: 0.8;
  color: white;
}

#user-info {
  display: none;
  position: absolute;
  min-width: 18%;
  min-height: 400px;
  right: 50px;
  top: 30%;
  padding-left: 10px;
  border: solid 5px black;
  background-color: white;
  opacity: 0.8;
  font-family: 'Orbitron', sans-serif;
  line-height: 4em;
  font-weight: 700;
  font-size: 0.6em;
}

#user-bag {
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  bottom: 0px;

}

#user-bag:hover {
  color: blue;
}

#game {
  padding: 20px;
  margin-left:auto;
  margin-right: auto;
  display: none;
  margin-top: 100px;
  color: #f2f2f2;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.9em;
}

#game img {
  width: 250px;
  height: auto;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  display: inline-flex;
  padding-left: 40px;
  margin-left: 5%;

}

#game img:nth-child(2) {
  width: auto;
  height: 150px;
  margin-bottom: 100px;
}

.narrative {
  background-color: white;
  opacity: 0.7;
  max-width: 70%;
  color: black;
  padding: 4px;
  padding-left: 10px;
  font-style: italic;
}

#option1,
#option2 {
  display: inline-flex;
  font-size: 1.2em;
  padding-left: 150px;
  font-family: 'Cutive Mono', monospace;
  color: black;
  cursor: pointer;
  display: none;
}

#option1:hover,
#option2:hover {
  text-decoration: underline;
  color: purple;
}

span {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

span:hover {
  color: blue;
}

.hide {
  display: none;
  transition: 1s ease;
}

.show {
  display: block;
  transition: 1s ease;
}
