body {
  width: 100%;
  height: auto;
  background-image: url('../img/2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px;
  background-opacity: 0;
}

img {
  width: 400px;
  height: auto;
  object-fit: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  display: inline-flex;
  padding-top: 50px;
}

h1 {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 8px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  color: #f2f2f2;
  text-shadow: 4px 4px purple;
  letter-spacing: 2px;
}

#begin {
  display: none;
  width: 50%;
  height: 1px;
  padding: 0px;
  margin-top: 10%;
  margin-left:auto;
  margin-right: auto;
  border: 4px solid white;
  background-color: #f2f2f2;
  opacity: 0.8;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.7em;
}

#begin h2 {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 1em;
  text-align: center;
}

#form-content {
  display: none;
}

.form-group {
  padding: 0px;
  margin-top: 20px;
}

#user-name {
  width: 60%;
  margin-left: 20%;
  color: #410f70;
}

#user-char {
  width: 40%;
  margin-left: 30%;
}

#begin button {
  width: 80%;
  margin-left: 10%;
  margin-top: 45px;
  background-color: black;
  opacity: 0.8;
  color: white;
}

#user-info {
  display: none;
  position: absolute;
  min-width: 50%;
  min-height: 70px;
  right: 30px;
  top: 5%;
  padding-left: 10px;
  font-family: 'Orbitron', sans-serif;
  line-height: 4em;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 1px;
  background-color: black;
  opacity: 0.9;
  color: white;
  font-family: 'Cutive Mono', monospace;
}

.this-name {
  margin-left: 60px;
}

.this-type {
  margin-left: 15%;
  margin-right: 10%;
}

.this-scores {
  color: #1a66ff;
  font-style: italic;
  cursor: pointer;
  margin-right: 10px;
}

#this-bag {
  color: #1a66ff;
  font-style: italic;
  margin-left: 1px;
  cursor: pointer;
}

#user-score {
  display: none;
  position: absolute;
  color: white;
  font-family: 'Cutive Mono', monospace;
  right: 100px;
  font-size: 0.8em;
}

#user-bag {
  display: none;
  position: absolute;
  color: white;
  font-family: 'Cutive Mono', monospace;
  right: 100px;
  font-size: 0.8em;
}

.this-scores:hover,
#user-bag:hover {
  text-decoration: underline;
}

#game {
  display: none;
  margin-top: 100px;
  color: #f2f2f2;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.9em;
  margin-left: 20%;
}

#game img:nth-child(2) {
  width: 200px;
  height: auto;
  display: inline-flex;
}

.narrative {
  background-color: white;
  opacity: 0.7;
  width: 80%;
  color: black;
  font-style: italic;
  margin-top: 50px;
}

#search {
  width: 200px;
}

#room-inventory {
  display: none;
  margin-top: 75px;
}

#option1,
#option2 {
  display: inline-flex;
  font-size: 1.2em;
  padding-left: 150px;
  font-family: 'Cutive Mono', monospace;
  color: black;
  cursor: pointer;
  display: none;
}

#option1:hover,
#option2:hover {
  text-decoration: underline;
  color: purple;
}

span {
  font-weight: bold;
  text-align: center;
}

.hide {
  display: none;
  transition: 1s ease;
}

.show {
  display: block;
  transition: 1s ease;
}
